@import "../../common/colors.scss";

.footer {
  background-color: $secondary-color;
  color: $font-primary;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
